//mainheader
#mainheader {
    .navbar {
        .container {
            display: block;
            margin: 0 auto;
            text-align: center;
            .logo {
                display: block;
                margin: 0 auto;
                text-align: center;
                margin-top: 1rem;
            }
            ul {
                display: block;
                text-align: center;
                font-size: .8rem;
                margin-bottom: 1rem;
                li {
                    display: inline;
                    margin-left: 1rem 0;
                }
            }
        }
    }
}

//showcase
#showcase {
    .showcase-content {
        padding-top: 0;
    }
}

//ourcourses
#ourcourses {
    .ourcourses-flex {
        display: block;
        text-align: center;
        .flexbox-1, .flexbox-2, .flexbox-3, .flexbox-4 {
            .button {
                padding-top: 1rem;
            }
        }
    }
}

//courseDes
#courseDes {
    .container {
        .courseDes-flex {
            display: block;
            .flexbox-1 {
                p {
                    margin: 1rem 0;
                }
            }
        }
    }
}

//courses
#courses {
    .container {
        .courses-header {
            display: block;
            .subtitle {
                font-size: 2.6rem;
            }
        }
        .courses-content {
            display: block;
            .courses-list {
                .paragraph {
                    text-align: justify;
                    margin-bottom: 1rem;
                }
            }
        }
    }
}

//contact
#contact {
    .container {
        .subtitle {
            text-align: center;
        }
        .contact-flex {
            form {
                button {
                    width: 100%;
                }
            }
            display: block;
        }
    }
}